*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f1117;
    color:white;
    font-family:Arial,sans-serif;
}

.container{
    width:1100px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#ff4655;
    margin-bottom:10px;
}

.turn{
    text-align:center;
    color:#aaa;
    margin-bottom:20px;
}

.layout{
    display:flex;
    gap:20px;
}

.team{
    width:180px;
}

.team h2{
    text-align:center;
    margin-bottom:10px;
    line-height:0.7;
}

.slot{
    background:#1b2130;
    border-radius:10px;
    height:65px;
    margin-bottom:10px;

    display:flex;
    align-items:center;
    padding:10px;
}

.slot img{
    width:45px;
}

.slot span{
    margin-left:10px;
}

.center{
    flex:1;
}

.roles{
    display:flex;
    justify-content:center;
    gap:8px;
}

.role-btn{
    background:#1b2130;
    color:white;
    border:none;
    padding:10px 14px;
    border-radius:8px;
    cursor:pointer;
}

.role-btn.active{
    background:#ff4655;
}

.preview{
    text-align:center;
    margin:20px 0;
}

.preview img{
    width:150px;
    height:150px;
    object-fit:contain;
}

.agent-pool{

    display:grid;

    grid-template-columns:
        repeat(6,1fr);

    gap:8px;
}

.agent-card{

    background:#1b2130;

    border-radius:8px;

    padding:8px;

    text-align:center;

    transition:.15s;
}

.agent-card img{

    width:55px;
    height:55px;

    object-fit:contain;
}

.agent-card p{

    font-size:11px;

    margin-top:5px;
}

.agent-card.active{

    background:#ff4655;

    transform:scale(1.08);

    box-shadow:
        0 0 15px #ff4655;
}

.agent-card.winner{

    border:2px solid gold;

    box-shadow:
        0 0 20px gold;
}

.agent-card.used{

    opacity:.25;
}

/* Banner */

.team-banner{

    display:flex;
    flex-direction:column;
    align-items:center;

    margin-bottom:15px;
}

.team-image{

    width:120px;
    height:120px;

    object-fit:cover;

    border-radius:12px;

    border:2px solid #ff4655;

    background:#1b2130;
}

.team-banner input{

    margin-top:8px;

    width:120px;

    font-size:12px;
}

.team-image{

    width:140px;
    height:140px;

    object-fit:cover;

    border-radius:12px;

    border:2px solid #ff4655;

    cursor:pointer;

    transition:.2s;
}

.team-image:hover{

    transform:scale(1.05);

    box-shadow:
        0 0 20px #ff4655;
}

#spinBtn{
    position:relative;
    overflow:hidden;

    width:100%;
    margin-top:15px;
    padding:15px;

    background:#ff4655;
    color:white;

    border:none;
    border-radius:10px;

    cursor:pointer;

    transition:.2s;
}

#spinBtn:disabled{

    /* background:#888; */
    color:#fff;

    cursor:not-allowed;

    filter:brightness(1.1);
}

/* lớp sọc */
#spinBtn:disabled::after{

    content:"";

    position:absolute;

    top:-200%;
    left:-200%;

    width:400%;
    height:400%;

    background:
        repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.25) 0px,
            rgba(255,255,255,0.25) 12px,
            transparent 12px,
            transparent 24px
        );

    animation:
        disabledStripes 1.2s linear infinite;

    pointer-events:none;
}

@keyframes disabledStripes{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(110px);
    }
}

/* ========================= */
/* MAP SECTION */
/* ========================= */

.map-section{

    margin-top:40px;

    padding-top:30px;

    border-top:
        1px solid #2a3142;
}

.map-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

.map-header h2{

    color:#ff4655;
}

/* BUTTON */

#mapBtn{

    position:relative;

    overflow:hidden;

    padding:12px 22px;

    border:none;

    border-radius:12px;

    background:
        linear-gradient(
            135deg,
            #ff4655,
            #ff6b77
        );

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;
}

#mapBtn:hover:not(:disabled){

    transform:translateY(-2px);

    box-shadow:
        0 0 20px
        rgba(255,70,85,.5);
}

#mapBtn:disabled{

    background:#777;

    cursor:not-allowed;

    filter:grayscale(100%);
}

#mapBtn:disabled::after{

    content:"";

    position:absolute;

    inset:0;

    background:
        repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,.25) 0px,
            rgba(255,255,255,.25) 12px,
            transparent 12px,
            transparent 24px
        );

    animation:
        stripes 1s linear infinite;
}

@keyframes stripes{

    from{
        background-position:0 0;
    }

    to{
        background-position:60px 0;
    }
}

/* CAROUSEL */

.map-carousel{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;
    margin-top: 17%;
}

.side-map img{

    width:240px;
    height:160px;

    object-fit:cover;

    border-radius:10px;

    opacity:.35;

    filter:
        blur(2px)
        grayscale(60%);
}

.center-map{

    position:relative;
}

.center-map img{

    width:680px;
    height:360px;

    object-fit:cover;

    border-radius:14px;

    border:3px solid #ff4655;

    box-shadow:
        0 0 25px
        rgba(255,70,85,.4);
}

.map-selected{

    position:absolute;

    top:10px;
    left:10px;

    z-index:10;

    padding:6px 10px;

    border-radius:8px;

    background:#ff4655;

    font-size:12px;

    font-weight:bold;
}

#mapName{

    text-align:center;

    margin-top:15px;

    font-size:28px;

    color:white;
}

/* Map slinde */

.map-sidebar{
    left: -0px;
    position:fixed;
    width:260px;
    top: 200px;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:15px;

    opacity:0;
    visibility:hidden;

    transform:translateX(-30px);

    transition:
        opacity .4s ease,
        transform .4s ease;

    transform-origin:center center;
}

.map-sidebar.show{

    opacity:1;
    visibility:visible;

    transform:translateX(0);
}

.map-thumb{

    position:relative;

    width:240px;
    height:500px;

    overflow:hidden;

    clip-path:polygon(
        18% 0%,
        100% 0%,
        82% 100%,
        0% 100%
    );

    border:2px solid #ff4655;
}
.map-thumb img{

    width:100%;
    height:100%;

    object-fit:cover;
}

.map-overlay{

    position:absolute;

    bottom:0;
    left:-30px;
    right:0;

    padding:8px;

    text-align:center;

    background:
        linear-gradient(
            transparent,
            rgba(0,0,0,.8)
        );

    font-size:12px;
    font-weight:700;
}

#selectedMapName{
    margin-left: -30px;
    color:#ff4655;

    font-size:24px;
    font-weight:800;

    text-transform:uppercase;
}

.map-sidebar.show{

    visibility:visible;

    animation:
        revealMap .85s
        cubic-bezier(
            .34,
            1.56,
            .64,
            1
        )
        forwards;
}

@keyframes revealMap{

    0%{

        opacity:0;

        transform:
            scaleY(0)
            scaleX(1);
    }

    60%{

        opacity:1;

        transform:
            scaleY(1)
            scaleX(1);
    }

    100%{

        opacity:1;

        transform:
            scale(1);
    }
}


.hidden{

    opacity:0;

    transform:translateY(20px);

    pointer-events:none;

    transition:.4s;
}

.visible{

    opacity:1;

    transform:none;

    transition:.4s;
}